---
---

/*********************************************************************************************
 * General styles.
 *********************************************************************************************/

body {
	background-color: rgb(0, 73, 100);
	color: white;
	font-family: 'Oxygen', sans-serif;
	background-image: url(../img/background-large.png);
	background-position-x: right;
	background-position-y: top;
	background-repeat: no-repeat;
}

@media (max-width: 1280px) {
	body {
		background-image: url(../img/background-small.png);
	}
}

hr {
	border-top: 2px solid rgba(0, 0, 0, .1) !important;
}

/*********************************************************************************************
 * Menu
 *********************************************************************************************/

/* Navbar styles */
nav.navbar {
	padding: 0px;
	transition-property: background-color;
	transition-duration: 250ms;
}

nav.navbar.trivaa-dimmed-navbar {
	background-color: rgba(0, 73, 100, .75);
	transition-property: background-color;
	transition-duration: 250ms;
}

/* Item styles */
.nav-item a.nav-link {
	color: white !important;
	text-transform: uppercase !important;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	white-space: nowrap;
	padding: .5rem .75rem !important;
	transition-property: background-color, color;
	transition-duration: 250ms;
}

@media (max-width: 767px) {
	.nav-item {
		width: 100% !important;
	}
	
	.nav-item a.nav-link {
		padding-left: 1rem;
	}
}

a.nav-link.trivaa-menu-item:hover {
	background-color: rgb(250, 218, 35);
	color: black !important;
	transition-property: background-color, color;
	transition-duration: 250ms;
}

/* Company brand */
.navbar-brand {
	padding: .0rem 0rem .0rem .5rem;
}

/* Mobile toggler button */
button.navbar-toggler {
	transition-property: background-color;
	transition-duration: 250ms;
	background-color: rgba(122, 162, 178, .4);
	z-index: 10000;
}

button.navbar-toggler:focus:not(.collapsed) {
	background-color: rgb(250, 218, 35);
	border: none;
	outline: none;
	transition-property: background-color;
	transition-duration: 250ms;
}

/** Flags on dektop and mobile */
.trivaa-flag-desktop {
	width: 24px;
	height: 24px;
}

.trivaa-flag-mobile {
	width: 50px;
	height: 50px;
}

/* Facebook icon */
img.trivaa-facebook-icon {
	width: 32px;
	height: 32px;
}

@media (min-width: 768px) {
	img.trivaa-facebook-icon {
		width: 24px;
		height: 24px;
	}
}


/*********************************************************************************************
 * Intro
 *********************************************************************************************/
 
.trivaa-intro {
	margin-top: 12rem;
	padding: 0px 16px;
}

.trivaa-intro > div {
	max-width: 872px;
	animation-name: intro-slidein;
	animation-fill-mode: forwards;
	animation-duration: 1.2s;
	animation-delay: 1s;
	opacity: 0;
}

@media (min-width: 872px) {
	.trivaa-intro > div {
		margin: auto;
	}
}

.trivaa-intro img {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 16px;
}

.trivaa-intro h3 {
	margin-top: 1rem;
}

@keyframes intro-slidein {
	to {
		opacity: 1;
	}
}

@media (min-width: 1288px) {
	@keyframes intro-slidein {
		from {
			margin-left: 180px;
		}
		to {
			opacity: 1;
			margin-left: 200px;
		}
	}
}


/*********************************************************************************************
 * Areas
 *********************************************************************************************/

.trivaa-areas {
	margin-top: 384px;
}

@media (max-width: 1750px) {
	.trivaa-areas {
		margin-top: 600px;
	}
}

@media (max-width: 1280px) {
	.trivaa-areas {
		margin-top: 260px;
	}
}

.trivaa-area-icon {
	width: 64px;
	margin-bottom: 1rem;
}

.trivaa-areas h4 {
	margin-bottom: 4rem;
}


/*********************************************************************************************
 * Process (common)
 *********************************************************************************************/

/* Inner container */
.trivaa-process-container {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

/* Area style */
.trivaa-process-step {
	position: absolute;
	z-index: 9999;
	cursor: pointer;
}

/* Circle style */
.trivaa-process-step + div {
	position: absolute;
	width: 120px;
	height: 120px;
	margin: 8px;

	border-radius: 50%;
	border-color: white;
	border-width: 10px;
	border-style: solid;

	display: flex;
    align-items: center;
	justify-content: center;

	transition-property: background-color, color;
	transition-duration: 800ms;
	overflow: hidden;
}

/* Text style */
.trivaa-process-step + div + div {
	position: absolute;
	font-size: 14px;
	opacity: 0;
	transition-property: left, top, opacity;
	transition-duration: 800ms;
}

/* Style of the digit */
.trivaa-process-step + div > span {
	position: relative;
	left: 0px;
	font-size: 60px;
	transition-property: left;
	transition-duration: 400ms;
}

/* Style of the icon when off-screen */
.trivaa-process-step:not([data-step="3"]) + div > img {
	position: absolute;
	left: -222px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 48px;
	height: 48px;
	margin: auto;
	transition-property: left;
	transition-duration: 400ms;
}

/* All steps except #3 change colour when active */
.trivaa-process-step:not([data-step="3"]).active + div {
	background-color: rgb(250, 218, 35);
	color: black;
}

/* All step icons (except #3) slide in from the left and have the same animation properties */
.trivaa-process-step:not([data-step="3"]).active + div > img {
	left: 0px;
	animation-delay: 400ms;
	animation-duration: 600ms;
	animation-fill-mode: forwards;
}

/* All step digits (except #3) slide out to the right when active */
.trivaa-process-step:not([data-step="3"]).active + div > span {
	left: 120px;
}

/* All step texts fade in when active */
.trivaa-process-step.active + div + div {
	opacity: 1;
}

/* Step #1 */
.trivaa-process-step[data-step="1"].active + div > img {
	animation-name: process-mail-spin;
}

@keyframes process-mail-spin {
	to {
		transform: rotate(360deg);
	}
}

/* Step #2 */
.trivaa-process-step[data-step="2"].active + div > img {
	animation-name: process-bubble-pulsate;
}

@keyframes process-bubble-pulsate {
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* Step #3 */
.trivaa-process-step[data-step="3"] + div {
	width: 136px;
	height: 136px;

	border: none;
}

.trivaa-process-step[data-step="3"].active + div {
	background-color: rgb(250, 103, 35);
}

.trivaa-process-step[data-step="3"] + div > img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 136px;
	height: 136px;
	transition-property: transform;
	transition-duration: 800ms;
}

.trivaa-process-step[data-step="3"].active + div > img {
	transform: rotate(270deg);
}

/* Step #4 */
.trivaa-process-step[data-step="4"].active + div > img {
	animation-name: process-notebook-wiggle;
}

@keyframes process-notebook-wiggle {
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-8deg);
	}
	75% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* Step #4 */
.trivaa-process-step[data-step="5"].active + div > img {
	animation-name: process-arrow-jump;
}

@keyframes process-arrow-jump {
	25% {
		transform: translateY(-6px);
	}
	50% {
		transform: none;
	}
	75% {
		transform: translateY(-6px);
	}
	100% {
		transform: none;
	}
}


/*********************************************************************************************
 * Process (desktop)
 *********************************************************************************************/

/**
 * Frame
 */

/* Separator */
hr.trivaa-process-separator-desktop {
	margin: 6rem 2rem;
}

/* Container */
.trivaa-process-desktop {
	width: 1600px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1599px) {
	.trivaa-process-desktop {
		display: none;
	}

	hr.trivaa-process-separator-desktop {
		display: none;
	}
}

/* Inner container */
.trivaa-process-desktop .trivaa-process-container {
	background-image: url(../img/process/process-large-bg.png);
}

/* Summary text */
.trivaa-process-desktop h4 {
	margin-bottom: 4rem;
}

/* Step #1 */
.trivaa-process-desktop .trivaa-process-step[data-step="1"] {
	left: 0px;
	top: 0px;
	width: 650px;
	height: 225px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="1"] + div {
	left: 0px;
	top: 0px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="1"] + div + div {
	left: 180px;
	top: 0px;
	max-width: 500px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="1"].active + div + div {
	left: 200px;
}

/* Step #2 */
.trivaa-process-desktop .trivaa-process-step[data-step="2"] {
	left: 0px;
	top: 226px;
	width: 500px;
	height: 225px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="2"] + div {
	left: 366px;
	top: 314px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="2"] + div + div {
	left: 20px;
	top: 314px;
	max-width: 350px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="2"].active + div + div {
	left: 0px;
}

/* Step #3 */
.trivaa-process-desktop .trivaa-process-step[data-step="3"] {
	left: 651px;
	top: 0px;
	width: 300px;
	height: 450px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="3"] + div {
	left: 724px;
	top: 0px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="3"] + div + div {
	left: 640px;
	top: 246px;
	max-width: 330px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="3"].active + div + div {
	top: 226;
}

/* Step #4 */
.trivaa-process-desktop .trivaa-process-step[data-step="4"] {
	left: 1090px;
	top: 226px;
	width: 510px;
	height: 225px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="4"] + div {
	left: 1098px;
	top: 314px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="4"] + div + div {
	left: 1260px;
	top: 314px;
	width: 350px;
}	

.trivaa-process-desktop .trivaa-process-step[data-step="4"].active + div + div {
	left: 1280px;
}

/* Step #5 */
.trivaa-process-desktop .trivaa-process-step[data-step="5"] {
	left: 951px;
	top: 0px;
	width: 650px;
	height: 225px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="5"] + div {
	left: 1464px;
	top: 0px;
}	

.trivaa-process-desktop .trivaa-process-step[data-step="5"] + div + div {
	left: 970px;
	top: 0px;
	max-width: 500px;
}	

.trivaa-process-desktop .trivaa-process-step[data-step="5"].active + div + div {
	left: 950px;
}


/*********************************************************************************************
 * Process (mobile)
 *********************************************************************************************/

 /**
 * Frame
 */

/* Separator */
hr.trivaa-process-separator-mobile {
	margin: 3rem 1rem;
}

/* Container */
.trivaa-process-mobile {
	width: 100%;
	height: 1240px;
}

@media (max-width: 740px) {
	.trivaa-process-mobile {
		height: 800px;
	}
}

@media (min-width: 1600px) {
	.trivaa-process-mobile {
		display: none;
	}

	.trivaa-process-mobile-header {
		display: none;
	}

	hr.trivaa-process-separator-mobile {
		display: none;
	}
}

/* Inner container */
.trivaa-process-mobile .trivaa-process-container {
	background-image: url(../img/process/process-small-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
}

@media (max-width: 740px) {
	.trivaa-process-mobile .trivaa-process-container {
		background-image: none;
	}
}

/* Summary text */
.trivaa-process-mobile-header h4 {
	margin-bottom: 4rem;
}

/* Step sizes are all the same on the mobile */
.trivaa-process-mobile .trivaa-process-step {
	left: 0px;
	width: 100%;
	height: 276px;
}

@media (max-width: 740px) {
	.trivaa-process-mobile .trivaa-process-step {
		height: 160px;
	}
}

/* Circles have the same size on mobile portrait */
@media (max-width: 740px) {
	.trivaa-process-mobile .trivaa-process-step + div {
		left: 0px;
		width: 60px;
		height: 60px;
		border-width: 5px;
	}
	
	.trivaa-process-mobile .trivaa-process-step + div > img {
		width: 30px;
		height: 30px;
	}

	.trivaa-process-mobile .trivaa-process-step + div > span {
		font-size: 30px;
	}
}

/* Texts are always at the same horizontal location with the same dimensions */
.trivaa-process-mobile .trivaa-process-step + div + div {
	left: 220px;
	width: calc(100% - 240px);
	padding-top: 16px;
	padding-right: 16px;
}

@media (max-width: 740px) {
	.trivaa-process-mobile .trivaa-process-step + div + div {
		left: 70px;
		width: calc(100% - 100px);
		padding-top: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step.active + div + div {
		left: 240px;
	}
}

@media (max-width: 740px) {
	.trivaa-process-mobile .trivaa-process-step.active + div + div {
		left: 80px;
	}
}

/* Step #1 */
.trivaa-process-mobile .trivaa-process-step[data-step="1"] {
	top: 0px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="1"] + div {
		left: 74px;
		top: 0px;
	}
}

/* Step #2 */
.trivaa-process-mobile .trivaa-process-step[data-step="2"] {
	top: 160px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="2"] {
		top: 276px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="2"] + div {
	top: 160px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="2"] + div {
		left: 0px;
		top: 276px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="2"] + div + div {
	top: 160px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="2"] + div + div {
		top: 276px;
	}
}

/* Step #3 */
.trivaa-process-mobile .trivaa-process-step[data-step="3"] {
	top: 320px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="3"] {
		top: 552px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="3"] + div {
	top: 320px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="3"] + div {
		left: 74px;
		top: 544px;
	}
}

@media (max-width: 740px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="3"] + div > img {
		width: 60px;
		height: 60px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="3"] + div + div {
	top: 320px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="3"] + div + div {
		top: 552px;
	}
}

/* Step #4 */
.trivaa-process-mobile .trivaa-process-step[data-step="4"] {
	top: 480px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="4"] {
		top: 828px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="4"] + div {
	top: 480px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="4"] + div {
		left: 0px;
		top: 828px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="4"] + div + div {
	top: 480px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="4"] + div + div {
		top: 828px;
	}
}

/* Step #5 */
.trivaa-process-mobile .trivaa-process-step[data-step="5"] {
	top: 640px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="5"] {
		top: 1104px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="5"] + div {
	top: 640px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="5"] + div {
		left: 74px;
		top: 1104px;
	}
}

.trivaa-process-mobile .trivaa-process-step[data-step="5"] + div + div {
	top: 640px;
}

@media (min-width: 741px) {
	.trivaa-process-mobile .trivaa-process-step[data-step="5"] + div + div {
		top: 1104px;
	}
}