/**
 * General styles.
 */

body {
	background-color: rgb(0, 73, 100);
	color: white;
	font-family: 'Oxygen', sans-serif;
	background-image: url(../img/background-large.png);
	background-position-x: right;
	background-position-y: top;
	background-repeat: no-repeat;
}

@media (max-width: 1280px) {
	body {
		background-image: url(../img/background-small.png);
	}
}

hr {
	border-top: 2px solid rgba(0, 0, 0, .1) !important;
}

/**
 * Menu
 */

/* Navbar styles */
nav.navbar {
	padding: 0px;
	transition-property: background-color;
	transition-duration: 250ms;
}

nav.navbar.trivaa-dimmed-navbar {
	background-color: rgba(0, 73, 100, .75);
	transition-property: background-color;
	transition-duration: 250ms;
}

/* Item styles */
.nav-item a.nav-link {
	color: white !important;
	text-transform: uppercase !important;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	white-space: nowrap;
	padding: .5rem .75rem !important;
	transition-property: background-color, color;
	transition-duration: 250ms;
}

@media (max-width: 767px) {
	.nav-item {
		width: 100% !important;
	}
	
	.nav-item a.nav-link {
		padding-left: 1rem;
	}
}

a.nav-link.trivaa-menu-item:hover {
	background-color: rgb(250, 218, 35);
	color: black !important;
	transition-property: background-color, color;
	transition-duration: 250ms;
}

/* Company brand */
.navbar-brand {
	padding: .0rem 0rem .0rem .5rem;
}

/* Mobile toggler button */
button.navbar-toggler {
	transition-property: background-color;
	transition-duration: 250ms;
	background-color: rgba(122, 162, 178, .4);
}

button.navbar-toggler:focus:not(.collapsed) {
	background-color: rgb(250, 218, 35);
	border: none;
	outline: none;
	transition-property: background-color;
	transition-duration: 250ms;
}

/** Flags on dektop and mobile */
.trivaa-flag-desktop {
	width: 24px;
	height: 24px;
}

.trivaa-flag-mobile {
	width: 50px;
	height: 50px;
}

/* Facebook icon */
img.trivaa-facebook-icon {
	width: 32px;
	height: 32px;
}

@media (min-width: 768px) {
	img.trivaa-facebook-icon {
		width: 24px;
		height: 24px;
	}
}


/**
 * Intro
 */
 
.trivaa-intro {
	margin-top: 12rem;
	padding: 0px 16px;
}

.trivaa-intro > div {
	max-width: 872px;
	animation-name: intro-slidein;
	animation-fill-mode: forwards;
	animation-duration: 1.2s;
	animation-delay: 1s;
	opacity: 0;
}

@media (min-width: 872px) {
	.trivaa-intro > div {
		margin: auto;
	}
}

.trivaa-intro img {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 16px;
}

.trivaa-intro h3 {
	margin-top: 1rem;
}

@keyframes intro-slidein {
	to {
		opacity: 1;
	}
}

@media (min-width: 1288px) {
	@keyframes intro-slidein {
		from {
			margin-left: 180px;
		}
		to {
			opacity: 1;
			margin-left: 200px;
		}
	}
}


/**
 * Areas
 */

.trivaa-areas {
	margin-top: 12rem;
}

.trivaa-area-icon {
	width: 64px;
	margin-bottom: 1rem;
}

.trivaa-areas h4 {
	margin-bottom: 4rem;
}

/**
 * Process
 */

/* Separator for the desktop */
hr.trivaa-process-separator-desktop {
	margin: 6rem 2rem;
}

/* Container for the desktop */
.trivaa-process-desktop {
	width: 1600px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1599px) {
	.trivaa-process-desktop {
		display: none;
	}

	hr.trivaa-process-separator-desktop {
		display: none;
	}
}

.trivaa-process-desktop h4 {
	margin-bottom: 4rem;
}

/* Inner container */
.trivaa-process-container {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../img/process/process-large-bg.png);
}

/* Step style */
.trivaa-process-step {
	position: absolute;
	width: 120px;
	height: 120px;
	margin: 8px;

	border-radius: 50%;
	border-color: white;
	border-width: 10px;
	border-style: solid;

	display: flex;
    align-items: center;
	justify-content: center;
}

.trivaa-process-step-text {
	position: absolute;
	font-size: 14px;
}

.trivaa-process-step-area {
	position: absolute;
	z-index: 9999;
	cursor: default;
}

/* Step highlight */
.trivaa-process-highlighted-step {
	background-color: rgb(250, 218, 35);
}

/* Style of the digit */
.trivaa-process-step span {
	font-size: 60px;
}

/* Step positions (desktop) */
.trivaa-process-desktop .trivaa-process-step[data-step="1"] {
	left: 0px;
	top: 0px;
}

.trivaa-process-desktop .trivaa-process-step-text[data-step="1"] {
	left: 200px;
	top: 0px;
	max-width: 500px;
}

.trivaa-process-desktop .trivaa-process-step-area[data-step="1"] {
	left: 0px;
	top: 0px;
	width: 650px;
	height: 225px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="2"] {
	left: 366px;
	top: 314px;
}

.trivaa-process-desktop .trivaa-process-step-text[data-step="2"] {
	left: 0px;
	top: 314px;
	max-width: 350px;
}

.trivaa-process-desktop .trivaa-process-step-area[data-step="2"] {
	left: 0px;
	top: 226px;
	width: 500px;
	height: 225px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="3"] {
	left: 724px;
	top: 0px;
	width: 136px;
	height: 136px;

	border: none;
	background-image: url(../img/process/step-3.png);
	background-position: center;
	background-size: cover;
}

.trivaa-process-desktop .trivaa-process-step-text[data-step="3"] {
	left: 640px;
	top: 216px;
	max-width: 330px;
}

.trivaa-process-desktop .trivaa-process-step-area[data-step="3"] {
	left: 651px;
	top: 0px;
	width: 300px;
	height: 450px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="4"] {
	left: 1098px;
	top: 314px;
}

.trivaa-process-desktop .trivaa-process-step-text[data-step="4"] {
	left: 1280px;
	top: 314px;
	max-width: 350px;
}

.trivaa-process-desktop .trivaa-process-step-area[data-step="4"] {
	left: 1090px;
	top: 226px;
	width: 510px;
	height: 225px;
}

.trivaa-process-desktop .trivaa-process-step[data-step="5"] {
	left: 1464px;
	top: 0px;
}

.trivaa-process-desktop .trivaa-process-step-text[data-step="5"] {
	left: 950px;
	top: 0px;
	max-width: 500px;
}

.trivaa-process-desktop .trivaa-process-step-area[data-step="5"] {
	left: 951px;
	top: 0px;
	width: 650px;
	height: 225px;
}

/* Active step styles */
.trivaa-process-active-step {
	background-color: rgb(250, 218, 35);
	color: black;
}