---
---

/*********************************************************************************************
 * Layout variables
 *********************************************************************************************/

/* Colors */
$trivaa-base-color: rgb(0, 73, 100);
$trivaa-light-color: rgb(122, 162, 178);
$trivaa-highlight-color: rgb(250, 218, 35);
$trivaa-light-background-color: darken(white, 3%);

$mobile-menu-color: rgb(122, 162, 178);
$text-color-dark: rgb(83, 83, 83);

$footer-background-color: rgb(83, 83, 83);

/* Font sizing */
$nav-font-size: 14px;
$process-text-size: 14px;

/* Breakpoints for the responsive layout */
$background-breakpoint: 1280px;
$bootstrap-md-breakpoint: 768px;

$process-desktop-breakpoint: 1600px;
$process-mobile-landscape-breakpoint: 740px;

/* Individual sizes */
$process-step-mobile-portrait-size: 80px;


/*********************************************************************************************
 * General styles
 *********************************************************************************************/

body {
	background-color: $trivaa-base-color;
	color: white;
	font-family: 'Oxygen', sans-serif;
	background-image: url(../img/background-large.png);
	background-position-x: right;
	background-position-y: top;
	background-repeat: no-repeat;
}

@media (max-width: $background-breakpoint) {
	body {
		background-image: url(../img/background-small.png);
	}
}

a {
	text-decoration: none !important;
	color: $trivaa-base-color;
}

a:hover {
	color: $trivaa-light-color;
}

hr {
	border-top: 2px solid rgba(0, 0, 0, .1) !important;
}

/*********************************************************************************************
 * Menu
 *********************************************************************************************/

/* Navbar styles */
nav.navbar {
	padding: 0px;
	transition-property: background-color;
	transition-duration: 250ms;
	z-index: 10000;
}

nav.navbar.trivaa-dimmed-navbar {
	background-color: rgba($trivaa-base-color, .75);
	transition-property: background-color;
	transition-duration: 250ms;
}

/* Item styles */
.nav-item a.nav-link {
	color: white !important;
	text-transform: uppercase !important;
	font-size: $nav-font-size;
	font-weight: bold;
	padding: 0px;
	white-space: nowrap;
	padding: .5rem .75rem !important;
	transition-property: background-color, color;
	transition-duration: 250ms;
}

@media (max-width: $bootstrap-md-breakpoint - 1) {
	.nav-item {
		width: 100% !important;
	}
	
	.nav-item a.nav-link {
		padding-left: 1rem;
	}
}

a.nav-link.trivaa-menu-item:hover {
	background-color: $trivaa-highlight-color;
	color: black !important;
	transition-property: background-color, color;
	transition-duration: 250ms;
}

/* Company brand */
.navbar-brand {
	padding: .0rem 0rem .0rem .5rem;
}

/* Mobile toggler button */
button.navbar-toggler {
	transition-property: background-color;
	transition-duration: 250ms;
	background-color: rgba($mobile-menu-color, .4);
	outline: none !important;
}

button.navbar-toggler:focus:not(.collapsed) {
	background-color: $trivaa-highlight-color;
	border: none;
	outline: none !important;
	transition-property: background-color;
	transition-duration: 250ms;
}

button.navbar-toggler:active {
	outline: none !important;
}

/** Flags on dektop and mobile */
.trivaa-flag-desktop {
	width: 24px;
	height: 24px;
}

.trivaa-flag-mobile {
	width: 50px;
	height: 50px;
}

/* Facebook icon */
img.trivaa-facebook-icon {
	width: 32px;
	height: 32px;
}

@media (min-width: $bootstrap-md-breakpoint) {
	img.trivaa-facebook-icon {
		width: 24px;
		height: 24px;
	}
}


/*********************************************************************************************
 * Intro
 *********************************************************************************************/
 
.trivaa-intro {
	margin-top: 360px;
	padding: 0px 16px;
}

@media (max-width: $process-mobile-landscape-breakpoint) {
	.trivaa-intro {
		margin-top: 192px;
	}
}

.trivaa-intro > div {
	max-width: 872px;
	animation-name: intro-slidein;
	animation-fill-mode: forwards;
	animation-duration: 1.2s;
	animation-delay: 1s;
	opacity: 0;
}

@media (min-width: 872px) {
	.trivaa-intro > div {
		margin: auto;
	}
}

.trivaa-intro img {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 16px;
}

.trivaa-intro h3 {
	margin-top: 1rem;
}

@keyframes intro-slidein {
	to {
		opacity: 1;
	}
}

@media (min-width: 1288px) {
	@keyframes intro-slidein {
		from {
			margin-left: 180px;
		}
		to {
			opacity: 1;
			margin-left: 200px;
		}
	}
}


/*********************************************************************************************
 * Areas
 *********************************************************************************************/

.trivaa-areas {
	margin-top: 384px;
}

@media (max-width: 1750px) {
	.trivaa-areas {
		margin-top: 600px;
	}
}

@media (max-width: 1280px) {
	.trivaa-areas {
		margin-top: 260px;
	}
}

.trivaa-area-icon {
	width: 64px;
	margin-bottom: 1rem;
}

.trivaa-areas h4 {
	margin-bottom: 4rem;
}


/*********************************************************************************************
 * Process (common)
 *********************************************************************************************/

/* Inner container */
.trivaa-process-container {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

/* Area style */
.trivaa-process-step {
	position: absolute;
	z-index: 5000;
	cursor: pointer;
}

/* Circle style */
.trivaa-process-step + div {
	position: absolute;
	width: 120px;
	height: 120px;
	margin: 8px;

	border-radius: 50%;
	border-color: white;
	border-width: 10px;
	border-style: solid;

	display: flex;
    align-items: center;
	justify-content: center;

	transition-property: background-color, color;
	transition-duration: 800ms;
	overflow: hidden;
	z-index: 200;
}

/* Text style */
.trivaa-process-step + div + div {
	position: absolute;
	font-size: $process-text-size;
	opacity: 0;
	transition-property: left, top, opacity;
	transition-duration: 800ms;
}

/* Style of the digit */
.trivaa-process-step + div > span {
	position: relative;
	left: 0px;
	font-size: 60px;
	transition-property: left;
	transition-duration: 400ms;
	z-index: 100;
}

/* Style of the icon when off-screen */
.trivaa-process-step:not([data-step="3"]) + div > img {
	position: absolute;
	left: -222px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 48px;
	height: 48px;
	margin: auto;
	transition-property: left;
	transition-duration: 400ms;
	z-index: 100;
}

/* All steps except #3 change colour when active */
.trivaa-process-step:not([data-step="3"]).active + div {
	background-color: rgb(250, 218, 35);
	color: black;
}

/* All step icons (except #3) slide in from the left and have the same animation properties */
.trivaa-process-step:not([data-step="3"]).active + div > img {
	left: 0px;
	animation-delay: 400ms;
	animation-duration: 600ms;
	animation-fill-mode: forwards;
}

/* All step digits (except #3) slide out to the right when active */
.trivaa-process-step:not([data-step="3"]).active + div > span {
	left: 120px;
}

/* All step texts fade in when active */
.trivaa-process-step.active + div + div {
	opacity: 1;
}

/* Step #1 */
.trivaa-process-step[data-step="1"].active + div > img {
	animation-name: process-mail-spin;
}

@keyframes process-mail-spin {
	to {
		transform: rotate(360deg);
	}
}

/* Step #2 */
.trivaa-process-step[data-step="2"].active + div > img {
	animation-name: process-bubble-pulsate;
}

@keyframes process-bubble-pulsate {
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* Step #3 */
.trivaa-process-step[data-step="3"] + div {
	width: 136px;
	height: 136px;

	border: none;
}

.trivaa-process-step[data-step="3"].active + div {
	background-color: rgb(250, 103, 35);
}

.trivaa-process-step[data-step="3"] + div > img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 136px;
	height: 136px;
	transition-property: transform;
	transition-duration: 800ms;
}

.trivaa-process-step[data-step="3"].active + div > img {
	transform: rotate(270deg);
}

/* Step #4 */
.trivaa-process-step[data-step="4"].active + div > img {
	animation-name: process-notebook-wiggle;
}

@keyframes process-notebook-wiggle {
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-8deg);
	}
	75% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* Step #4 */
.trivaa-process-step[data-step="5"].active + div > img {
	animation-name: process-arrow-jump;
}

@keyframes process-arrow-jump {
	25% {
		transform: translateY(-6px);
	}
	50% {
		transform: none;
	}
	75% {
		transform: translateY(-6px);
	}
	100% {
		transform: none;
	}
}


/*********************************************************************************************
 * Process (desktop)
 *********************************************************************************************/

/**
 * Frame
 */

/* Separator */
hr.trivaa-process-separator-desktop {
	margin: 6rem 2rem;
}

/* Container */
.trivaa-process-desktop {
	width: 1600px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: $process-desktop-breakpoint - 1) {
	.trivaa-process-desktop {
		display: none;
	}

	.trivaa-process-desktop-header {
		display: none;
	}

	hr.trivaa-process-separator-desktop {
		display: none;
	}
}

/* Summary text */
.trivaa-process-desktop-header h4 {
	margin-bottom: 4rem;
}

/* Inner container */
.trivaa-process-desktop {
	.trivaa-process-container {
		background-image: url(../img/process/process-large-bg.png);
	}

	/* Step #1 */
	.trivaa-process-step[data-step="1"] {
		left: 0px;
		top: 0px;
		width: 650px;
		height: 225px;
	}

	.trivaa-process-step[data-step="1"] + div {
		left: 0px;
		top: 0px;
	}

	.trivaa-process-step[data-step="1"] + div + div {
		left: 180px;
		top: 0px;
		max-width: 500px;
	}

	.trivaa-process-step[data-step="1"].active + div + div {
		left: 200px;
	}

	/* Step #2 */
	.trivaa-process-step[data-step="2"] {
		left: 0px;
		top: 226px;
		width: 500px;
		height: 225px;
	}

	.trivaa-process-step[data-step="2"] + div {
		left: 366px;
		top: 314px;
	}

	.trivaa-process-step[data-step="2"] + div + div {
		left: 20px;
		top: 314px;
		max-width: 350px;
	}

	.trivaa-process-step[data-step="2"].active + div + div {
		left: 0px;
	}

	/* Step #3 */
	.trivaa-process-step[data-step="3"] {
		left: 651px;
		top: 0px;
		width: 300px;
		height: 450px;
	}

	.trivaa-process-step[data-step="3"] + div {
		left: 724px;
		top: 0px;
	}

	.trivaa-process-step[data-step="3"] + div + div {
		left: 640px;
		top: 246px;
		max-width: 330px;
	}

	.trivaa-process-step[data-step="3"].active + div + div {
		top: 226;
	}

	/* Step #4 */
	.trivaa-process-step[data-step="4"] {
		left: 1090px;
		top: 226px;
		width: 510px;
		height: 225px;
	}

	.trivaa-process-step[data-step="4"] + div {
		left: 1098px;
		top: 314px;
	}

	.trivaa-process-step[data-step="4"] + div + div {
		left: 1260px;
		top: 314px;
		width: 350px;
	}	

	.trivaa-process-step[data-step="4"].active + div + div {
		left: 1280px;
	}

	/* Step #5 */
	.trivaa-process-step[data-step="5"] {
		left: 951px;
		top: 0px;
		width: 650px;
		height: 225px;
	}

	.trivaa-process-step[data-step="5"] + div {
		left: 1464px;
		top: 0px;
	}	

	.trivaa-process-step[data-step="5"] + div + div {
		left: 970px;
		top: 0px;
		max-width: 500px;
	}	

	.trivaa-process-step[data-step="5"].active + div + div {
		left: 950px;
	}
}


/*********************************************************************************************
 * Process (mobile)
 *********************************************************************************************/

 /**
 * Frame
 */

/* Separator */
hr.trivaa-process-separator-mobile {
	margin: 3rem 1rem;
}

/* Container */
.trivaa-process-mobile {
	width: 100%;
	height: 1240px;
}

@media (max-width: $process-mobile-landscape-breakpoint) {
	.trivaa-process-mobile {
		height: 800px;
	}
}

@media (min-width: $process-desktop-breakpoint) {
	.trivaa-process-mobile {
		display: none;
	}

	.trivaa-process-mobile-header {
		display: none;
	}

	hr.trivaa-process-separator-mobile {
		display: none;
	}
}

/* Summary text */
.trivaa-process-mobile-header h4 {
	margin-bottom: 4rem;
}

.trivaa-process-mobile {
	/* Inner container */
	.trivaa-process-container {
		background-image: url(../img/process/process-small-bg.png);
		background-position: left top;
		background-repeat: no-repeat;
	}

	@media (max-width: $process-mobile-landscape-breakpoint) {
		.trivaa-process-container {
			background-image: none;
		}
	}

	/* Step sizes are all the same on the mobile */
	.trivaa-process-step {
		left: 0px;
		width: 100%;
		height: 276px;
	}

	@media (max-width: $process-mobile-landscape-breakpoint) {
		.trivaa-process-step {
			height: 160px;
		}
	}

	/* Circles have the same size on mobile portrait */
	@media (max-width: $process-mobile-landscape-breakpoint) {
		.trivaa-process-step + div {
			left: 0px;
			width: $process-step-mobile-portrait-size;
			height: $process-step-mobile-portrait-size;
			border-width: 5px;
		}
		
		.trivaa-process-step + div > img {
			width: $process-step-mobile-portrait-size / 2;
			height: $process-step-mobile-portrait-size / 2;
		}

		.trivaa-process-step + div > span {
			font-size: $process-step-mobile-portrait-size / 2;
		}
	}

	/* Texts are always at the same horizontal location with the same dimensions */
	.trivaa-process-step + div + div {
		left: 220px;
		width: calc(100% - 240px);
		padding-top: 16px;
		padding-right: 16px;
	}

	@media (max-width: $process-mobile-landscape-breakpoint) {
		.trivaa-process-step + div + div {
			left: $process-step-mobile-portrait-size + 20;
			width: calc(100% - #{$process-step-mobile-portrait-size + 50});
			padding-top: 0px;
			padding-right: 0px;
		}
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step.active + div + div {
			left: 240px;
		}
	}

	@media (max-width: $process-mobile-landscape-breakpoint) {
		.trivaa-process-step.active + div + div {
			left: $process-step-mobile-portrait-size + 30;
		}
	}

	/* Step #1 */
	.trivaa-process-step[data-step="1"] {
		top: 0px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="1"] + div {
			left: 74px;
			top: 0px;
		}
	}

	/* Step #2 */
	.trivaa-process-step[data-step="2"] {
		top: 160px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="2"] {
			top: 276px;
		}
	}

	.trivaa-process-step[data-step="2"] + div {
		top: 160px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="2"] + div {
			left: 0px;
			top: 276px;
		}
	}

	.trivaa-process-step[data-step="2"] + div + div {
		top: 160px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="2"] + div + div {
			top: 276px;
		}
	}

	/* Step #3 */
	.trivaa-process-step[data-step="3"] {
		top: 320px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="3"] {
			top: 552px;
		}
	}

	.trivaa-process-step[data-step="3"] + div {
		top: 320px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="3"] + div {
			left: 74px;
			top: 544px;
		}
	}

	@media (max-width: $process-mobile-landscape-breakpoint) {
		.trivaa-process-step[data-step="3"] + div > img {
			width: $process-step-mobile-portrait-size;
			height: $process-step-mobile-portrait-size;
		}
	}

	.trivaa-process-step[data-step="3"] + div + div {
		top: 320px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="3"] + div + div {
			top: 552px;
		}
	}

	/* Step #4 */
	.trivaa-process-step[data-step="4"] {
		top: 480px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="4"] {
			top: 828px;
		}
	}

	.trivaa-process-step[data-step="4"] + div {
		top: 480px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="4"] + div {
			left: 0px;
			top: 828px;
		}
	}

	.trivaa-process-step[data-step="4"] + div + div {
		top: 480px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="4"] + div + div {
			top: 828px;
		}
	}

	/* Step #5 */
	.trivaa-process-step[data-step="5"] {
		top: 640px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="5"] {
			top: 1104px;
		}
	}

	.trivaa-process-step[data-step="5"] + div {
		top: 640px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="5"] + div {
			left: 74px;
			top: 1104px;
		}
	}

	.trivaa-process-step[data-step="5"] + div + div {
		top: 640px;
	}

	@media (min-width: $process-mobile-landscape-breakpoint + 1) {
		.trivaa-process-step[data-step="5"] + div + div {
			top: 1104px;
		}
	}
}


/*********************************************************************************************
 * About
 *********************************************************************************************/

.trivaa-about {
	margin-top: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: $trivaa-light-background-color;
	color: $text-color-dark;
}


/*********************************************************************************************
 * Contact
 *********************************************************************************************/

.trivaa-contact {
	padding-top: 4rem;
	padding-bottom: 16rem;
	background-color: $trivaa-light-background-color;
	color: $text-color-dark;

	ul.list-group {
		padding-left: 2rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border-left: 2px solid $trivaa-base-color;
		
		li.list-group-item {
			padding: 4px 0px !important;
			border: none !important;
			background-color: $trivaa-light-background-color;
		
			img {
				width: 32px;
				height: 32px;
				margin-right: 1rem;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}
	}
}


/*********************************************************************************************
 * Contact
 *********************************************************************************************/

 footer {
	 padding: 2.5rem 0rem;
	 font-size: 12px;
	 color: lighten($footer-background-color, 20%);
	 background-color: $footer-background-color;

	 a {
		 color: darken($trivaa-highlight-color, 30%);
	 }

	 img {
		 -webkit-filter: brightness(60%) grayscale(100%);
		 filter: brightness(60%) grayscale(100%);
		 height: 40px;
		 width: auto;
		 margin: auto;
	 }
 }