<div class="container trivaa-areas">
	<div class="row text-center">
		<div class="col">
			<a name="areas"></a>
			<h4><i>{{ site.data.texts.areas_summary }}...</i></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/mobile.png">
				<h5>{{ site.data.texts.mobile_apps }}</h5>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
				irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/web.png">
				<h5>{{ site.data.texts.web_apps }}</h5>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
				irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/database.png">
				<h5>{{ site.data.texts.db_dev }}</h5>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
				irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
	</div>
	<div class="row mt-0 mt-md-5">
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/cloud.png">
				<h5>{{ site.data.texts.cloud }}</h5>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
				irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/reveng.png">
				<h5>{{ site.data.texts.reveng }}</h5>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
				irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/support-consulting.png">
				<h5>{{ site.data.texts.support }}</h5>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
				irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
	</div>
</div>