<div class="container trivaa-areas">
	<div class="row text-center">
		<div class="col">
			<a name="areas"></a>
			<h4><i>{{ site.data.texts.areas_summary }}...</i></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/mobile.png">
				<h5>{{ site.data.texts.mobile_apps }}</h5>
			</div>
			<p>{{ site.data.texts.mobile_apps_desc }}</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/web.png">
				<h5>{{ site.data.texts.web_apps }}</h5>
			</div>
			<p>{{ site.data.texts.web_apps_desc }}</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/database.png">
				<h5>{{ site.data.texts.db_dev }}</h5>
			</div>
			<p>{{ site.data.texts.db_dev_desc }}</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
	</div>
	<div class="row mt-0 mt-md-5">
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/cloud.png">
				<h5>{{ site.data.texts.cloud }}</h5>
			</div>
			<p>{{ site.data.texts.cloud_desc }}</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/reveng.png">
				<h5>{{ site.data.texts.reveng }}</h5>
			</div>
			<p>{{ site.data.texts.reveng_desc }}</p>
			<hr class="w-100 d-block d-lg-none">
		</div>
		<div class="col-lg-4 d-flex flex-column">
			<div class="text-center">
				<img class="trivaa-area-icon" src="{{ page.permalink }}img/areas/support-consulting.png">
				<h5>{{ site.data.texts.support }}</h5>
			</div>
			<p>{{ site.data.texts.support_desc }}</p>
		</div>
	</div>
</div>