<!-- Desktop appearance -->
<hr class="trivaa-process-separator-desktop">
<div class="trivaa-process-desktop">
	<div class="text-center">
		<a name="process"></a>
		<h4>
			<i>{{ site.data.texts.process_summary }}...</i>
		</h4>
	</div>
	<div class="trivaa-process-container">
		<div class="trivaa-process-step active" data-step="1"></div>
		<div>
			<span>1</span>
			<img src="{{ page.permalink }}img/process/step-1.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="trivaa-process-step" data-step="2"></div>
		<div>
			<span>2</span>
			<img src="{{ page.permalink }}img/process/step-2.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>

		<div class="trivaa-process-step" data-step="3"></div>
		<div>
			<img src="{{ page.permalink }}img/process/step-3.png">
			<span>3</span>
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="trivaa-process-step" data-step="4"></div>
		<div>
			<span>4</span>
			<img src="{{ page.permalink }}img/process/step-4.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>

		<div class="trivaa-process-step" data-step="5"></div>
		<div>
			<span>5</span>
			<img src="{{ page.permalink }}img/process/step-5.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>

<!-- Mobile appearance -->
<hr class="trivaa-process-separator-mobile">
<div class="trivaa-process-mobile-header container w-100">
	<div class="row text-center">
		<div class="col">
			<a name="process"></a>
			<h4>
				<i>{{ site.data.texts.process_summary }}...</i>
			</h4>
		</div>
	</div>
</div>
<div class="trivaa-process-mobile">
	<div class="trivaa-process-container">
		<div class="trivaa-process-step" data-step="1"></div>
		<div>
			<span>1</span>
			<img src="{{ page.permalink }}img/process/step-1.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="trivaa-process-step" data-step="2"></div>
		<div>
			<span>2</span>
			<img src="{{ page.permalink }}img/process/step-2.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>

		<div class="trivaa-process-step" data-step="3"></div>
		<div>
			<img src="{{ page.permalink }}img/process/step-3.png">
			<span>3</span>
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="trivaa-process-step" data-step="4"></div>
		<div>
			<span>4</span>
			<img src="{{ page.permalink }}img/process/step-4.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>

		<div class="trivaa-process-step" data-step="5"></div>
		<div>
			<span>5</span>
			<img src="{{ page.permalink }}img/process/step-5.png">
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>