<hr class="trivaa-process-separator-desktop">
<a name="process"></a>
<div class="trivaa-process-desktop">
	<div class="text-center">
		<h4>
			<i>{{ site.data.texts.process_summary }}...</i>
		</h4>
	</div>
	<div class="trivaa-process-container">
		<div class="trivaa-process-step-area active" data-step="1"></div>
		<div class="trivaa-process-step" data-step="1">
			<span>1</span>
		</div>
		<div class="trivaa-process-step-text" data-step="1">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="trivaa-process-step-area" data-step="2"></div>
		<div class="trivaa-process-step" data-step="2">
			<span>2</span>
		</div>
		<div class="trivaa-process-step-text" data-step="2">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>
		
		<div class="trivaa-process-step-area" data-step="3"></div>
		<div class="trivaa-process-step" data-step="3">
			<img src="{{ page.permalink }}img/process/step-3.png">
			<span>3</span>
		</div>
		<div class="trivaa-process-step-text" data-step="3">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="trivaa-process-step-area" data-step="4"></div>
		<div class="trivaa-process-step" data-step="4">
			<span>4</span>
		</div>
		<div class="trivaa-process-step-text" data-step="4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>
		
		<div class="trivaa-process-step-area" data-step="5"></div>
		<div class="trivaa-process-step" data-step="5">
			<span>5</span>
		</div>
		<div class="trivaa-process-step-text" data-step="5">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>